<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
	  <link href="js/out_for_service/css/w3.css" rel="stylesheet" type="text/css"/>
    <link href="js/out_for_service/css/map.css" rel="stylesheet" type="text/css" />
    <script src="js/out_for_service/all.scripts.js"></script>
    <title>Out For Service</title>
  </head>
  <body>
      <div class="notification w3-blue">
        <strong><%= translate('L10N_GREATING $[1]', user.local.email) %></strong> 
        <a href="/logout"><%= translate('L10N_LOGOUT') %></a><br>
        <h2 id="notification-title"><%= translate('L10N_NOTI') %></h2>
        <div id="notification-body"></div>
      </div>
      <div id="map"></div>
      <div class="control w3-center">
        <div class="w3-bar">
          <button id="refresh" class="w3-bar-item w3-button w3-black">Refresh</button>
          <button class="w3-bar-item w3-button w3-teal">Button</button>
          <button class="w3-bar-item w3-button w3-red">Button</button>
        </div>
      </div>
  </body>
</html>
