html, body {
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: calibri, arial;
}

.notification {
    height: 22%;
}

#map {
    height: 72%;
}

.control {
    height: 6%;
}
